.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  text-align: center;
}

.subsection {
  position: absolute;
  /* right: 15rem;
  top: 1280px; */
  top: 85rem;
  left: 69%;
}

.featuredmaincontainer {
  display: flex;
  flex-direction: column;
}

.featuredsubcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
