.searchbuttonred {
  width: fit-content;
  height: 60px;
  left: 587px;
  top: 474px;
  padding: 10px 20px;
  background: #e53436;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-weight: 700;
  font-size: 26px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.searchbuttonred:hover {
  scale: 1.1;
  transition: 0.5s;
}

.contactuswhite {
  width: fit-content;
  height: 48px;
  justify-items: center;
  text-align: center;
  color: #110f0f;
  padding: 12px 24px;
  border-radius: 4px;
  border: solid 2px #0d0d0e;
  background-color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.contactusred {
  width: 9.5rem;
  height: 3.5rem;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: white;
  background: #e53436;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 0.5s;
}

.contactusred:hover {
  /* opacity: .8; */
  background-color: rgb(233, 82, 87);
  scale: 1.1;
  transition: 0.5s;
}

.contactusred:active {
  background-color: rgb(205, 28, 34);
}

/* LISTING MAIN FEATURES BLUE */
.bluefeaturesbtncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 12rem;
  min-width: fit-content;
  height: 2.75rem;
  border-radius: 1rem;
  background-color: rgb(45, 114, 143);
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  padding: 0 2rem;
  user-select: none;
}

.bluefeaturesbtncontainer img {
  max-height: 1.3rem;
}

/* LISTING PROMPT RED */
.redoutlinebtncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  min-width: fit-content;
  height: 3.8rem;
  margin: 1.4rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: white;
  border: 3px solid rgb(229, 52, 54);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s;
}

.redoutlinebtncontainer:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
}

.redoutlinebtncontainer:active {
  background-color: #ebebeb;
}
