.tenantcontainer {
  background: linear-gradient(0deg, #ededed, #ededed),
    linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0.66) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.wordcontainer {
  justify-items: auto;
  font-family: "Inter";
  font-style: normal;
  color: #11141c;
  width: 50%;
}

.wordcontainer h6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
}

.wordcontainer p {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  width: 70%;
}
