.vidcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #1e2640;
  padding-bottom: 4%;
  background: #f8f8f8;
}

.vidcontainer h3 {
  margin-top: 0;
}
