.outermostcontainer{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-bottom: 3rem;

    /* border: 5px solid rgb(255, 2, 255); */
}

.mapcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 16rem;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 1.425rem;

    /* border: 5px solid rgb(34, 149, 216); */
}

.mapheader{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 55rem;
    width: fit-content;
    margin-top: 10rem;
    margin-bottom: 1rem;
    
    /* border: 2px solid red; */
}

.mapheader span{
    display: flex;
}

.numoflistings{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.mapcontainer img{
    width: 56vw;
    width: 81rem;
    margin-bottom: 5rem;
}

.selectcontainer{
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    width: 72%;
    max-width: 1500px;
    margin-top: 2rem;

    /* border: 2px solid green; */
}

.sortbox{
    font-family: Inter, sans-serif;
    font-size: 1rem;
    padding: .7em 1.5em;
    margin-right: 2.8rem;
    margin-top: .5rem;
    width: 15rem;
    height: fit-content;
    border: 2px solid rgba(203, 210, 224, 1);
    border: 1px solid rgb(0, 0, 0);
    border-radius: .5rem;
    transition: all .5s;
    cursor: pointer;
    
    /* appearance: none; */
}

.sortbox:focus{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.gridcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 72%;
    max-width: 1500px;
    height: fit-content;
    grid-column-gap: 5rem;
    grid-row-gap: 2.5rem;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 2rem;

    /* border: 2px solid red; */
}

@media screen and (max-width: 1300px) {
    .gridcontainer {
      grid-template-columns: 1fr 1fr;
    }

    .mapheader{
        gap: 31rem;
    }

    .mapcontainer img{
        width: 70vw;
    }
  }


@media screen and (max-width: 992px) {
    .gridcontainer {
      grid-template-columns: 1fr;
    }

    .mapheader{
        gap: 7rem;
    }

    .mapcontainer img{
        width: 75vw;
    }
  }
