.outermostcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outermostcontainer img {
  box-shadow: 1px 1px 1px #000000;
  border-radius: 15px;
}

.flex_row {
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.thumbnail {
  padding-left: 10px;
}

.thumbnail img {
  border-radius: 15px;
  box-shadow: 1px 1px 1px #000000;
}

.thumbnail img:hover {
  scale: 1.1;
  margin: 0 1rem;
  transition: 0.5s;
}

.clicked {
  scale: 1.1;
  margin: 0 1rem;
  border: 1px solid #686963;
}
