.outermostcontainer{
    height: fit-content;
    width: 100vw;
    background-color:  #F5F5F5;
    overflow-x: hidden;

    background-repeat: no-repeat;
    /* border: 5px solid goldenrod; */ 
}

/* ---------------- Back button section --------------- */
.backbutton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 12rem;
    height: 6rem;
    padding: 3rem;
    color: black;
    text-decoration: none;
    cursor: pointer;


    /* border: 2px solid orange; */
}

.backbutton p{
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    vertical-align: top;
    text-decoration: none;
    /* border: 2px solid rgb(167, 44, 65); */
}

.backbutton img{
    height: 1.8rem;
    /* border: 2px solid palevioletred; */
}

/* ---------------- Property info section --------------- */

.propertyinfosectionoutercontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-left: 0;

    /* border: 2px solid orchid; */
}

.propertyinfosectioninnercontainer{
    width: 90%;
    max-width: 2000px;

    /* border: 2px solid blueviolet; */
}

.listedon{
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 3.25rem;
    
}

.bodyandaside{
    display: flex;
    justify-content: space-between;
    
}

/* ---------------- body section --------------- */
.textinfo h1{
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    color: #1E2640;
    
}

.textinfo h3{
    font-family: Inter, sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
}

.textinfo p {
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    width: 90rem;
    /* border: 2px solid purple; */
}

.featurebtns{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem ;
}

.list{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}


/* ---------------- aside section --------------- */
.aside h1{
   font-family: Inter, sans-serif; 
   font-weight: 600;
   font-size: 2.5rem;
   color: black;
   margin-bottom: 9rem;
   text-align: right;
   padding-right: 1.6rem;

   /* border: 2px solid yellowgreen; */


}

/* ---------------- map section --------------- */
.mapsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 5rem;

    /* border: 3px solid blue; */
}



.maptitle{
    width: 33rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-top: 3px solid rgba(0, 0, 0, 1);
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    text-align: center;
    color:rgb(30, 38, 64);

    /* border: 2px solid red; */
}

.mapsection img{
    width: 90%;
    max-width: 2000px;
}