.outermostcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
    margin-top: 4rem;
    margin-bottom: 10rem;
   
    /* border: 3px solid blue; */
}

.outermostcontainer p{
    width: 43.75rem;
    /* margin-bottom: 3.5rem; */
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    color: rgb(136, 144, 153);
}

.similarpropertiestitle{
    width: 33rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-top: 3px solid rgba(0, 0, 0, 1);
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(30, 38, 64);

    /* border: 2px solid red; */
}

.cardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 2000px;
    margin-top: -3rem;
    /* height: 40rem; */
    /* background-color: aqua; */
}

.arrowleft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    transition: all .5s;
}

.arrowright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    transform: rotate(180deg);
    transition: all .5s;
}

.arrowleft:hover{
    opacity: 0.3;
}

.arrowright:hover{
    opacity: 0.3;
}

.noresults{
    margin-top: 3rem;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;

}