.upperheader {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.metrologo {
  align-items: flex-start;
}

.Line-2 {
  width: 1px;
  height: 67px;
  flex-grow: 0;
  margin: 0 40.5px 0 26.5px;
  transform: rotate(-270deg);
  background-color: #100c0c;
}

.lowerheader {
  background-color: #e53436;
  font-family: Inter;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown_owners,
.dropdown_tenant,
.dropdown_aboutus {
  display: none;
  position: absolute;
  background: #ffffff;
  z-index: 1;
}

.dropdown:hover .dropdown_owners,
.dropdown_tenant,
.dropdown_aboutus {
  display: block;
}
